.cont{
    height:auto;
    width:100%;
    margin:1;
    align:center middle;
}

.header{
    dock: top;
    height: 1;
    content-align: center middle;
    background: $footer-background;
    color:$footer-foreground;
}

OptionList{
    height:auto;
    width:auto;
    align:center middle;
    background:transparent;
    border:none;
    text-align:center;
    text-style:none;
}

OptionList .option-list--option-highlighted{
    text-style:bold;
}

.hidden{
    display:None;
}